aside.github-buttons ul.list-inline {
  list-style:none;
}
aside.github-buttons ul.list-inline li {
  display: inline;
  margin-right: 5px;
}
aside.github-buttons iframe {
  margin: 0 auto !important;
}
