header {
    text-align: center;

    .nav {
        float: none;
        display: block;
    }

    a.logo-link img {
        filter: drop-shadow(2px 4px 10px black);
    }

    a.logo-link:active img {
        filter: blur(0.3);
    }

    a.logo-link:active img {
        filter: blur(0.3);
        filter: drop-shadow(2px 4px 4px black);
    }

    .nav-list-item {
        display: inline-block;
        position: relative;
        padding: 2px 15px;

        a:before {
            content: "#";
            color: #ce1458;
            position: absolute;
            left: 0.05em;
            top: 0.14em;
            font-size: 1.1em;
            font-weight: bold;
        }

        a {
            font-size: 18px;
            line-height: 1.3;
        }
    }
}