header {
    text-align: center;

    .nav {
        float: none;
        display: block;
    }

    a.logo-link img {
        filter: $logo-drop-shadow;
    }

    a.logo-link:hover img {
        filter: blur(0.3rem);
    }

    a.logo-link:active img {
        filter: $logo-drop-shadow blur(0.3rem);
    }

    .nav-list-item {
        display: inline-block;
        position: relative;
        padding: 2px 15px;

        a:before {
            content: "#";
            color: $color-pink;
            position: absolute;
            left: 0.05em;
            top: 0.14em;
            font-size: 1.1em;
            font-weight: bold;
        }

        a {
            font-size: 18px;
            line-height: 1.3;
        }
    }
}