.article-body * {
    @apply break-words text-lg;
}

.article-body > h1,
.article-body > h2,
.article-body > h3,
.article-body > h4,
.article-body > h5,
.article-body > h6 {
    @apply border-green-600 font-extrabold pr-2 py-1 my-2;
}

.article-body > h2 {
    @apply text-3xl pt-2;
}

.article-body > h2::before {
    content: '##';
    @apply text-green-600 mr-2 font-mono text-3xl;
}

.article-body > h3 {
    @apply text-2xl;
}

.article-body > h3::before {
    content: '###';
    @apply text-green-600 mr-2 text-2xl;
}

.article-body > h4 {
}

.article-body > h4::before {
    content: '####';
    @apply text-green-600 mr-2 text-xl;
}

.article-body > h5::before {
    content: '#####';
    @apply text-green-600 mr-2;
}

.article-body > h6::before {
    content: '######';
    @apply text-green-600 mr-2;
}

.article-body p,
.article-body div {
    @apply py-3;
}

.article-body ul,
.article-body ol {
    @apply list-inside;
}

.article-body li ul,
.article-body li ol {
    @apply list-inside pl-8;
}

.article-body li {
    @apply py-1;
}

.article-body ul {
    @apply list-disc;
}

.article-body ol {
    @apply list-decimal;
}

.article-body pre,
.article-body code {
    @apply font-mono;
}

.article-body p > code {
    @apply break-words;
}

.article-body p a img {
    display: inline-block;
}

.article-body .github-buttons li {
    @apply py-0;
}

.article-body blockquote {
    @apply border-gray-600 border-l-4 pl-4 opacity-70;
}

.article-body a {
    @apply text-green-600 font-bold;
}

.article-body a:hover {
    text-decoration: underline;
}

.article-body table {
    @apply w-full table-auto py-3;
}

.article-body table tr th {
    @apply border-b-4 border-green-600 py-2 px-3;
}

.article-body table tr td {
    @apply border-b-2 border-gray-300 py-2 px-3;
}

.article-body table tr:last-child td {
    @apply border-b-0;
}

.article-body code[class*='language-'] {
    @apply break-words;
}

.article-body b,
.article-body strong {
    @apply text-green-600 font-bold;
}

.article-body :not(pre) > code[class*='language-'] {
    @apply font-mono px-2 py-1;
}

.article-body code[class*='language-'] {
    @apply font-mono text-lg;
}
