.article-body * {
    @apply my-3 break-words;
}

.article-body > h1,
.article-body > h2,
.article-body > h3,
.article-body > h4,
.article-body > h5,
.article-body > h6 {
    @apply py-2 border-green-600 px-2 my-2;
}

.article-body > h2 {
    @apply border-l-4;
}

.article-body > h3 {
    @apply border-l-2;
}

.article-body > h4 {
    @apply border-l-0;
}
.article-body > h5 {
    @apply border-l-0;
}

.article-body > h6 {
    @apply border-l-0;
}

.article-body > p {
    @apply py-6;
}

.article-body ul,
.article-body ol {
    @apply my-4 list-inside pl-8;
}

.article-body li {
    @apply pb-3;
}

.article-body ul {
    @apply list-disc;
}

.article-body ol {
    @apply list-decimal;
}

.article-body > ul,
.article-body > ol {
    @apply py-1 pl-0;
}

.article-body > pre {
    @apply bg-gray-900 rounded text-white font-mono text-base p-2 md:p-4;
}

.article-body > pre > code {
    @apply break-words whitespace-pre-wrap;
}

.article-body p code {
    @apply break-words;
}

.article-body p a img {
    display: inline-block;
}

.article-body .github-buttons li {
    @apply py-0;
}

.article-body blockquote {
    @apply border-gray-600 border-l-4 pl-4 opacity-70;
}

.article-body a {
    @apply text-green-600;
    font-weight: 500;
}

.article-body a:hover {
    text-decoration: underline;
}

.article-body table {
    @apply w-full table-auto py-3;
}

.article-body table tr th {
    @apply border-b-4 border-green-600 py-2 px-3;
}

.article-body table tr td {
    @apply border-b-2 border-gray-300 py-2 px-3;
}

.article-body table tr:last-child td {
    @apply border-b-0;
}

.article-body code[class*='language-'] {
    @apply break-words;
}
